<!DOCTYPE HTML>
<html>
<head>
    <title>SpringBoot Web Service</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
</head>

    <body>
    {{>layout/header}}
        <h1>String Springboot with web Service</h1>
            <div class="col-md-12">
               <div class="row">
                    <div class="col-md-6">
                        <a href="/posts/save" role="button"
                                       class="btn btn-primary">write</a>
                    </div>
               </div>
            </div>
    {{>layout/footer}}
    </body>
</html>